
.error {
    -fx-background-color: #C44C51;
}

.default {
    -fx-background-color: #f2f3f4;
}

.success {
    -fx-background-color: #76CC99;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}
